.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.content__promo {
  margin-top: -161px;
}

.content__features {
  margin-bottom: 67px;
}

.content__user-form {
  margin-bottom: 35px;
}
