.features {
  display: flex;
  align-items: flex-start;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 54px;
}

.features__wrap-image {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-right: 54px;
  padding: 35px 3px 0;

  &::after {
    content: "";
    position: absolute;
    top: -32px;
    left: -15px;
    z-index: -1;
    display: block;
    width: 486px;
    height: 338px;
    background-image: url("../img/browser-skin.png");
    background-repeat: no-repeat;
  }
}

.features__wrap-image img {
  width: 450px;
}

.features__info {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.features__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: $gray-79;
}

.features__list {
  @include no-list-style();
}

.features__item {
  position: relative;
  padding-left: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.375;
  color: $gray-136;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}
