.page {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack--main;
  font-size: 14px;
  line-height: 1.7;
  color: $text-color;
  background-color: $body-bg;
}

.page__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
}
