.tabs__links {
  display: flex;
  width: 1024px;

  @include no-list-style();
}

.tabs__link-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 12px;
}

.tabs__link-wrap:last-child {
  margin-right: 0;
}

.tabs__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 247px;
  padding: 200px 50px 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: $gray-95;
  user-select: none;

  @include text-limiter();

  &:hover,
  &:focus,
  &:visited {
    color: rgba($gray-95, 0.6);
    transition: color $hover-animation $animation-function;
  }

  &:active {
    color: rgba($gray-95, 0.3);
    transition: color $active-animation $animation-function;
  }
}

.tabs__link span {
  display: block;
  max-width: 147px;
  margin-bottom: 5px;
  font-size: 26px;

  @include text-limiter();
}

.tabs__link--responsive::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 49%;
  transform: translateX(-51%);
  display: block;
  width: 134px;
  height: 154px;
  background-image: url("../img/icon-responsive-websites.svg");
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity $default-animation $animation-function;
}

.tabs__link--commerce::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 49%;
  transform: translateX(-51%);
  display: block;
  width: 134px;
  height: 154px;
  background-image: url("../img/icon-ecommerce.svg");
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity $default-animation $animation-function;
}

.tabs__link--blog::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 49%;
  transform: translateX(-51%);
  display: block;
  width: 134px;
  height: 154px;
  background-image: url("../img/icon-blog.svg");
  background-repeat: no-repeat;
}

.tabs__link--search::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 49%;
  transform: translateX(-51%);
  display: block;
  width: 134px;
  height: 154px;
  background-image: url("../img/icon-search-websites.svg");
  background-repeat: no-repeat;
}

.tabs__link-wrap--active .tabs__link {
  position: relative;
  display: block;
  box-shadow: 3px -3px 5px -1px rgba($gray-0, 0.1), -3px -3px 5px -1px rgba($gray-0, 0.1);

  &:hover,
  &:active {
    color: rgba($gray-95, 1);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    display: block;
    height: 10px;
    background-color: $gray-255;
  }
}

.tabs__content-wrapper {
  display: flex;
  padding: 57px 54px 69px;
  box-shadow: 0 0 5px 2px rgba($gray-0, 0.1);
}

.tabs__content-item {
  display: none;
}

.tabs__content-item--active {
  display: flex;
  flex-direction: column;
}

.tabs__content-item picture {
  display: flex;
}

.tab__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
}

.tabs__subtitle {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 38px;
  line-height: 1;
  color: $gray-79;
}

.tabs__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: $gray-129;
}

.tabs__text + .tabs__text {
  margin-top: 27px;
}
