@mixin no-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pseudo-element($content: "", $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

@mixin text-limiter() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
