// Цвета
$gray-0:                          #000000;
$gray-68:                         #444444;
$gray-79:                         #4f4f4f;
$gray-95:                         #5f5f5f;
$gray-129:                        #818181;
$gray-136:                        #8a8888;
$gray-255:                        #ffffff;

$text-color:                      $gray-129;
$body-bg:                         #ffffff;

$btn-color:                       $gray-255;
$btn-bg:                          #12b367;
$btn-border:                      rgba($gray-0, 0.37);


// Шрифты
$font-stack--main:               "Myriad Pro", "Arial", sans-serif;
$font-stack:                     "Arial", sans-serif;


// Анимация
$default-animation:               0.1s;
$hover-animation:                 0.12s;
$active-animation:                0.05s;
$animation-function:              cubic-bezier(0.4, 0, 0.2, 1);
